<mat-form-field class="full">
  <input matInput type="text" [(ngModel)]="info.pregunta" placeholder="Escribi aquí tu pregunta" [disabled]="!info.edicion">
</mat-form-field>

<mat-form-field class="full" *ngIf="info.tipo === 'texto'">
  <input matInput type="text" [(ngModel)]="info.respuesta" placeholder="Tu respuesta" [disabled]="!info.edicion">
</mat-form-field>

<div *ngIf="info.tipo === 'casilla'">
  <app-pregunta-casilla [info]="info"></app-pregunta-casilla>
</div>

<div *ngIf="info.tipo === 'desplegable'">
  <app-pregunta-desplegable [info]="info"></app-pregunta-desplegable>
</div>
  
  