<mat-sidenav-container>

  <mat-toolbar color="primary">
      <div class="btns-container">
        <button type="button" mat-button (click)="crearPregunta('texto')">Texto <span *ngIf="preguntas">({{preguntas | contadorTipo:'texto'}})</span></button>
        <button type="button" mat-button (click)="crearPregunta('casilla')">Casillas <span *ngIf="preguntas">({{preguntas | contadorTipo:'casilla'}})</span></button>
        <button type="button" mat-button (click)="crearPregunta('desplegable')">Desplegable <span *ngIf="preguntas">({{preguntas | contadorTipo:'desplegable'}})</span></button>
      </div>
  </mat-toolbar>

  <div class="content">
    <app-edicion (preguntasListas)="actualizarPreguntas($event)"></app-edicion>
  </div>
</mat-sidenav-container>
