.content {
  padding: 1rem;
}

mat-toolbar {
  height: 170px;
}

.btns-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex: 1 1 20px;
  * {
    flex: 1;
    font-size: 1.2rem;
  }
}